/5_Connectivity_Predict_Activation/
/6_Connectivity_Based_Parcellation/
/7_Region_Based_Parcellation/
/plot_donghui_connectivity_predict_activation/

# Top-level scratch
.ipynb_checkpoints/
__pycache__/